body {
  background: #080710;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 5vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  }

  /* Stili specifici per il form */
form {
  height: 95%;
  width: 630px;
  background-color: rgba(255,255,255,0.07);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  
form h2{
  font-size: 40px;
  font-weight: 500;
  line-height: 42px;
  color: #f2f2f2;
  font-weight: bold;
  margin-bottom: 0;

}

/* Stili per i campi del form */
label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #f2f2f2;
  }

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 9px;
  border: none;
  padding: 0 10px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 300;
  color: white;
  }

::placeholder{
  color: #e5e5e5;
}

  
.btn{
  margin-top: 10px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 22px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #002855;
}

form div{
  width: 100%;
}

.errorj input{
  border: solid 2px #ff0000;
}

  /* Stili per i messaggi di errore */
.error-message {
  color: #f00;
  font-weight: bold;
}
  
p{
  color: #f2f2f2;
  font-weight: bold;
  font-size: 20px;
  margin-top: 3px;
}
  
a{
  color: white;
}